<form action='' method="POST" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
  </div>
  <select name="gender" id="">
    <option value="">-- Gioi tinh </option>
    <option value="male">Nam</option>
    <option value="female">Nữ</option>
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>